body{
  background-image: linear-gradient(to bottom right, rgb(0, 221, 255), rgb(0, 255, 136));
}

.container{
  text-align: center;
  margin-top:70px
}

table{
  margin: auto;
}

input{
  border-radius: 0px;
  border: 2px solid #000000;
  font-size:30px;
  height: 65px;
  width: 456px;
}

button{
  border-radius: 0px;
  font-size: 40px;
  background: #ffffff;
  width: 102px;
  height: 90px;
  margin: 6px;
}

.calculator{ 
  border: 2px solid #000000;
  background-color: #23232345;
  padding: 23px;
  border-radius: 2px;
  display: inline-block;
  
}

h1{
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
}